@font-face {
  font-family: 'MyFont';
  src: url('./stay_wildy-webfont.woff') format('woff'),
       url('./stay_wildy-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'MyFont';
  background: url('./WGAZ300-300x148.jpg');
}